﻿@*<input id="firstName"  @attributes="InputAttribues" value="@Value"/>*@

<h1 style="@ElementStyle; @H1Border">Child Component Text -- @Counter</h1>

<GrandChildComponent></GrandChildComponent>

@code {
    //[Parameter]
    //public Dictionary<string, object> InputAttribues { get; set; } =
    //    new Dictionary<string, object>() {
    //        { "required" , "required"},
    //        { "placeholder", "Child component palceholder" },
    //        { "size", "100" },
    //        { "maxlength","25" }
    //    };

    //[Parameter]
    //public string Value { get; set; } = "Child Value";

    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}


