﻿@page "/dataBindingDemo"
@inherits DataBindingDemoBase

<h3>DataBindingDemo</h3>


<h5>One way data binding</h5>

<div>
    <b>Name:</b> @Name
</div>
<div>
    <b>Name with saluation: </b> @(Gender == "Male" ? $"Mr. {Name}" : $"Miss. {Name}")
</div>
<div>
    <b>Name:</b> <input value="@Name" />
</div>

<b>Description</b>
<div>
    <textarea @bind="Description" @bind:event="oninput" style="width:500px; height:50px;"></textarea>
</div>
<div>
    Count: @Description.Length
</div>