﻿@inherits DisplayEmployeeBase

<div class="card m-3">
    <div class="card-header" style="min-width: 18rem; max-width: 30.5%">
        <h3>@Employee.FirstName @Employee.LastName</h3>
    </div>
    @*<img  class="card-img-top" src="@employee.PhotoPath"/>*@
    @if (ShowFooter)
    {
    <div class="card-footer-text-center">
        <a href="@($"employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
        <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
        <a href="#" class="btn btn-danger m-1">Delete</a>
    </div>
    }
</div>


