﻿@page "/editemployee/{id}"
@page "/editemployee"

@inherits EditEmployeeBase

<EditForm Model="@EditEmployeeModel" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>
    <h3>@PageHeaderText</h3>
    <br />
    <ValidationSummary></ValidationSummary>
    <div class="form-group row">
        <label for="FirstName" class="col-sm-2 col-form-label">
            First name
        </label>
        <div class="col-sm-10">
            <InputText id="FirstName" class="form-control" placeholder="First Name" @bind-Value="EditEmployeeModel.FirstName">
            </InputText>
            <ValidationMessage For="@(() => EditEmployeeModel.FirstName)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label for="LastName" class="col-sm-2 col-form-label">
            Last name
        </label>
        <div class="col-sm-10">
            <InputText id="LastName" class="form-control" placeholder="Last Name" @bind-Value="EditEmployeeModel.LastName">
            </InputText>
            <ValidationMessage For="@(() => EditEmployeeModel.LastName)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="Email" class="form-control" placeholder="Email" @bind-Value="EditEmployeeModel.Email">
            </InputText>
            <ValidationMessage For="@(() => EditEmployeeModel.Email)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">
            Confirm Email
        </label>
        <div class="col-sm-10">
            <InputText id="ConfirmEmail" class="form-control" placeholder="ConfirmEmail" @bind-Value="EditEmployeeModel.ConfirmEmail">
            </InputText>
            <ValidationMessage For="@(() => EditEmployeeModel.ConfirmEmail)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">
            Department
        </label>
        <div class="col-sm-10">
            <InputSelect id="department" @bind-Value="EditEmployeeModel.DepartmentId" class="form-control">
                @foreach (var dept in Departments)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="Gender" class="col-sm-2 col-form-label">
            Gender
        </label>
        <div class="col-sm-10">
            <InputSelect id="gender" @bind-Value="EditEmployeeModel.Gender" class="form-control">
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfBirth" class="col-sm-2 col-form-label">
            Date of birth
        </label>
        <div class="col-sm-10">
            <InputDate @bind-Value="EditEmployeeModel.DateOfBirth" class="form-control"></InputDate>
        </div>
    </div>
    <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">
            Department Name
        </label>
        <div class="col-sm-10">
            <InputText id="departmentName" class="form-control" placeholder="departmentName" @bind-Value="EditEmployeeModel.Department.DepartmentName">
            </InputText>
            <ValidationMessage For="@(() => EditEmployeeModel.Department.DepartmentName)"></ValidationMessage>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
     @if (Employee.EmployeeId > 0)
     {
    <button class="btn btn-danger" type="button" @onclick="Delete_Click">Delete</button>
     }
</EditForm>