﻿@page "/"
@inherits EmployeeListBase

@attribute [Authorize]

<h3>Employee List</h3>
<input type="checkbox" id="ShowFooter"  @bind="ShowFooter"/>
<label for="ShowFooter">Show Footer</label>

@if(Employees == null){
<div class="spinner"></div>
}
else 
{
<div class="card-deck">
    @foreach(var employee in Employees)
    {
        <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"></DisplayEmployee>
    }

</div>
}