﻿@page "/employeedetails/{id}"

@inherits EmployeeDetailsBase

@if (Employee == null  || Employee.Department ==null)
{
    <div class="spinner"> </div>
}
else
{
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Employee.FirstName @Employee.LastName</h1>
            </div>
            <div class="card-body text-center">
                <h4>Employee ID: @Employee.EmployeeId</h4>
                <h4>Email: @Employee.Email</h4>
                <h4>Department: @Employee.Department.DepartmentName</h4>
                <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>
            </div>
            <div class="card-footer text-center @CssClass">
                <a href="/" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>

</div>
}


