﻿@page "/pc"

<h1 style="@Style">Parent component Text -- @Counter</h1>

<button class="btn btn-primary" @onclick="IncrementCounter">Increment Counter</button>

<CascadingValue Value="@Counter" Name="Counter" IsFixed="false">
    <CascadingValue Value="@Style" Name="ColorStyle">
        <CascadingValue Value="@BorderStyle" Name="BorderStyle">
            <ChildComponent></ChildComponent>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@*<ChildComponent InputAttribues="attributesFromParent" Value="Parent value"></ChildComponent>*@

@code {
    //[Parameter]
    //public Dictionary<string, object> attributesFromParent { get; set; } =
    //    new Dictionary<string, object>() {
    //        { "required" , "required"},
    //        { "placeholder", "Parent component placeholder" },
    //        { "size", "100" },
    //        { "maxlength","25" },
    //        {"someAttribute","someValue" }
    //        };

    public string Style { get; set; } = "color:red";

    public string BorderStyle { get; set; } = "border: 1px solid red";

    public int Counter { get; set; } = 0;

    private void IncrementCounter()
    {
        Counter = Counter + 1;
    }


}

